@import "tailwindcss";

:root {
  --font-wendy: 'Wendy One', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

.font-wendy {
  font-family: var(--font-wendy);
}

.font-lato {
  font-family: var(--font-lato);
}